<!DOCTYPE html>
<html>
<head>
    <title>VPS | <%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Owl Carousel-->
    <link rel="stylesheet" href="../css/home/owl.carousel.min.css">
    <!--Fontawesome css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="../css/home/bootstrap.min.css">
    <!--Main css-->
    <link rel="stylesheet" href="../css/home/home_style.css">
</head>
<body>

    <!--Preloader start-->
    <div class="preloader">
        <span></span>
    </div>
    <!--Preloader end-->
    
    <!--Navbar start-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <!--Brand-->
            <a class="navbar-brand" href="index.ejs">VPS</a>

            <!--Toggler/Collapsible Button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-bars"></i>
            </button>

            <!---Navbar Links-->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" data-scroll-nav="0" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="1" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="2" href="#">Screenshots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="4" href="#">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="5" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" target="_blank">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar End-->

    <!--Home Section Start-->
    <section class="home d-flex align-items-center" id="home" data-scroll-index="0">
        <div class="effect-wrap">
            <i class="fas fa-plus effect effect-1"></i>
            <i class="fas fa-plus effect effect-2"></i>
            <i class="fas fa-circle-notch effect effect-3"></i>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="home-text">
                        <h1>Online FIR Launching System</h1>
                        <p>The first of its kind to launch a FIR in a fully decentralised way. Keep a track of your launched FIR, get the case solved on time.</p>
                        <div class="home-btn">
                            <a href="#" data-scroll-goto="3" class="btn btn-1">Download App</a>
                            <button type="button" class="btn btn-1 video-play-btn">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <div class="home-img">
                        <div class="circle">
                        </div>
                        <img src="../img/home/app-screenshots/image.png" alt="Blokchain Logo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Home Section End-->

    <!--Features Section Start-->
    <section class="features section-padding" id="features" data-scroll-index="1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>Unique <span>Features</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel features-carousel">
                    <div class="feature-item">
                        <div class="icon"><i class="fas fa-code"></i></div>
                        <h3>No Registration</h3>
                        <p>Login on a click. No overhead of creating an account to launch FIR.</p>
                    </div>
                    <div class="feature-item">
                        <div class="icon"><i class="fas fa-edit"></i></div>
                        <h3>Security</h3>
                        <p>We take your privacy as our primary concern. No third party is allowed to read or overwrite an launched FIR.</p>
                    </div>
                    <div class="feature-item">
                        <div class="icon"><i class="fas fa-paint-brush"></i></div>
                        <h3>Track Your FIR</h3>
                        <p>Users are allowed to track there launched FIR whenever they want and where ever they want.</p>
                    </div>
                    <div class="feature-item">
                        <div class="icon"><i class="fas fa-check"></i></div>
                        <h3>fast load application</h3>
                        <p>The application is build using latest technology which reduces it's loading time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Features Section End-->


    <!--Fun Facts Section Start-->
    <section  class="fun-facts section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 d-flex align-items-center justify-content-center">
                    <div class="fun-facts-img">
                        <img src="../img/home/app-screenshots/2.png" alt="fun facts">
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="section-title">
                        <h2>system <span>facts</span></h2>
                    </div>
                    <div class="fun-facts-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fun-fact-item style-1">
                                    <h3>4000+</h3>
                                    <span>active users</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fun-fact-item style-2">
                                    <h3>2000+</h3>
                                    <span>FIR launched</span>
                                </div>
                            </div>  
                            <div class="col-sm-6">
                                <div class="fun-fact-item style-3">
                                    <h3>500+</h3>
                                    <span>case solved</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fun-fact-item style-4">
                                    <h3>150</h3>
                                    <span>5 Star Rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Fun Facts Section End-->

    <!--App Screenshots Section Start-->
    <section class="app-screenshots section-padding" id="screenshots" data-scroll-index="2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>app <span>screenshots</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" owl-carousel screenshots-carousel">
                    <div class="screenshot-item">
                        <img src="../img/home/app-screenshots/1.png" alt="screenshot">
                    </div>
                    <div class="screenshot-item">
                        <img src="../img/home/app-screenshots/2.png" alt="screenshot">
                    </div>
                    <div class="screenshot-item">
                        <img src="../img/home/app-screenshots/3.png" alt="screenshot">
                    </div>
                    <div class="screenshot-item">
                        <img src="../img/home/app-screenshots/1.png" alt="screenshot">
                    </div>
                    <div class="screenshot-item">
                        <img src="../img/home/app-screenshots/2.png" alt="screenshot">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--App Screenshots Section End-->

    <!--App Download Section Start-->
    <!--<section class="app-download section-padding" data-scroll-index="3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>download <span>app</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="app-download-item">
                        <i class="fab fa-google-play"></i>
                        <h3>google play</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#" class="btn btn-2">download now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="app-download-item">
                        <i class="fab fa-apple"></i>
                        <h3>apple play</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#" class="btn btn-2">download now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="app-download-item">
                        <i class="fab fa-windows"></i>
                        <h3>microsoft store</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#" class="btn btn-2">download now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--App Download Section End-->

    <!--How It Works Section Start-->
    <section class="how-it-works section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>how it <span>works</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="how-it-works-item line-right">
                        <div class="step">1</div>
                        <h3>Login</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="how-it-works-item line-right">
                        <div class="step">2</div>
                        <h3>Launch FIR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="how-it-works-item line-right">
                        <div class="step">3</div>
                        <h3>keep a track of your launched FIR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="how-it-works-item">
                        <div class="step">4</div>
                        <h3>get the case solved</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--How It Works Section End-->

    <!--Testimonials Section Start-->
    <section class="testimonials section-padding" id="testimonials" data-scroll-index="4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>what out <span>client</span> say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <div class="img-box">
                            <img src="../img/home/testimonial/1.jpg" alt="testimonial">
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <h3>upvesh kumar</h3>
                        <span>UI designer</span>
                        <div class="rating">
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-box">
                            <img src="../img/home/testimonial/2.jpg" alt="testimonial">
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <h3>upvesh kumar</h3>
                        <span>UI designer</span>
                        <div class="rating">
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-box">
                            <img src="../img/home/testimonial/3.jpg" alt="testimonial">
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <h3>upvesh kumar</h3>
                        <span>UI designer</span>
                        <div class="rating">
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-box">
                            <img src="../img/home/testimonial/4.jpg" alt="testimonial">
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <h3>upvesh kumar</h3>
                        <span>UI designer</span>
                        <div class="rating">
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                            <i class="fas fa-start"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials Section End-->

    <!--Team Section Start-->
    <!--<section class="team section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>team <span>member</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel team-carousel">
                    <div class="team-item">
                        <img src="../img/home/team/1.jpg" alt="team">
                        <h3>Sarita sharma</h3>
                        <span>UI Designer</span>
                    </div>
                    <div class="team-item">
                        <img src="../img/home/team/2.jpg" alt="team">
                        <h3>Neha sharma</h3>
                        <span>UI Designer</span>
                    </div>
                    <div class="team-item">
                        <img src="../img/home/team/3.jpg" alt="team">
                        <h3>Gudu sharma</h3>
                        <span>UI Designer</span>
                    </div>
                    <div class="team-item">
                        <img src="../img/home/team/4.jpg" alt="team">
                        <h3>Gudu sharma</h3>
                        <span>UI Designer</span>
                    </div>
                    <div class="team-item">
                        <img src="../img/home/team/5.jpg" alt="team">
                        <h3>Gudu sharma</h3>
                        <span>UI Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--Team Section End-->

    <!--FAQ Section Start-->
    <section class="faq section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>frequently <span>asked</span> queries</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div id="accordion">
                        <div class="accordion-item">
                            <div class="accordion-header" data-toggle="collapse" data-target="#collapse-01">
                                <h3>What are the documents that i need to launch an FIR</h3>
                            </div>
                            <div class="collapse show" id="collapse-01" data-parent="#accordion">
                                <div class="accordion-body">
                                    <p>You just need your aadhar number(for authentication purpose) in order to launch a FIR</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header collapsed" data-toggle="collapse" data-target="#collapse-02">
                                <h3>What are the system information that your store</h3>
                            </div>
                            <div class="collapse" id="collapse-02" data-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Inorder to detect fake FIR's and take actions, we store your IP address along with your browser type from which you launch FIR</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header collapsed" data-toggle="collapse" data-target="#collapse-03">
                                <h3>How fast your system solve a case</h3>
                            </div>
                            <div class="collapse" id="collapse-03" data-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Each FIR is divided based on the type of crime (cognizable/non-cognizable)</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header collapsed" data-toggle="collapse" data-target="#collapse-04">
                                <h3>Most Welcome for this page</h3>
                            </div>
                            <div class="collapse" id="collapse-04" data-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FAQ Section Start-->

    <!--Contact Section Start-->
    <section class="contact section-padding" data-scroll-index="5" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2>get in <span>touch</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="contact-info">
                      <h3>For Any Queries and Support</h3>  
                      <div class="contact-info-item">
                        <i class="fas fa-location-arrow"></i>
                        <h4>Location</h4>
                        <p>Cabinet House, New Delhi</p>
                      </div>
                      <div class="contact-info-item">
                        <i class="fas fa-envelope"></i>
                        <h4>Write to us at</h4>
                        <p>info@gov.com</p>
                      </div>
                      <div class="contact-info-item">
                        <i class="fas fa-phone"></i>
                        <h4>Call us on</h4>
                        <p>91 654 2931</p>
                      </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" class="form-control">
                                    </div>   
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Email" class="form-control">
                                    </div>   
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Phone" class="form-control">
                                    </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Subject" class="form-control">
                                    </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea type="text" placeholder="Your Message" class="form-control"></textarea>
                                    </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-2">Send Message</button>
                                </div>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Contact Section Start-->

    <!--Footer Start-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-col">
                        <h3>About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-col">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">terms and conditions</a></li>
                            <li><a href="#">latest news</a></li>
                            <li><a href="#">webapp services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-col">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="#home">home</a></li>
                            <li><a href="#features">features</a></li>
                            <li><a href="#screenshots">screenshots</a></li>
                            <li><a href="#contact">contact</a></li>
                            <li><a href="#testimonials">testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-col">
                        <h3>Social Pages</h3>
                        <ul>
                            <li><a href="#">facebook</a></li>
                            <li><a href="#">twitter</a></li>
                            <li><a href="#">instagram</a></li>
                            <li><a href="#">linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright-text">&copy;2021 @ Group-11</p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->

    <!--Toggle Theme Start-->
    <div class="toggle-theme">
        <i class="fas"></i>
    </div>
    <!--Toggle Theme End-->

    <!--Video Popup Start-->
    <div class="video-popup">
        <div class="video-popup-inner">
            <i class="fas fa-times video-popup-close"></i>
            <div class="iframe-box">
                <iframe id="player_1" src="https://www.youtube.com/watch?v=SSo_EIwHSd4" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!--Video Popup End-->
    
    <!--Jquery js-->
    <script src="../js/home/jquery.min.js"></script>
    <!--Popper js-->
    <script src="../js/home/popper.min.js"></script>
    <!--Bootstrap js-->
    <script src="../js/home/bootstrap.min.js"></script>
    <!--ScrollIt js-->
    <script src="../js/home/scrollIt.min.js"></script>
    <!--Owl Carousel-->
    <script src="../js/home/owl.carousel.min.js"></script>
    <!--Main js-->
    <script src="../js/home/home_main.js"></script>
</body>
</html>