<!DOCTYPE html>
<html>
    <head>
        <mate charest="utf-8" />
        <title>Hello world!</title>
    </head>
    <body>
        <h1>User List</h1>
        <ul>
            <li>Name:<%= user.name %></li>
            <li>Age: <%= user.age %></li>
            <br>
        </ul>
    </body>
</html>