<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="container">
		<div class="myCard">
			<div class="row">
				<div class="col-md-6">
					<div class="myLeftCtn">
						<form class="myForm text-center" action="../bot/index.html">
							<header>Create New Account</header>
							<div class="form-group">
								<i class="fas fa-user"></i>
								<input class="myInput" type="text" placeholder="Aadhar Number" id="aadharnumber" required>
							</div>

							<div class="form-group">
								<label>
									<input id="check_1" type="checkbox" name="check_1" required>
									<small>I read and agree to terms and conditions</small>
								</label>
							</div>

							<input type="submit" class="butt" value="LOGIN">
						
						</form>
					</div>
				</div>

				<div class="col-md-6">
					<div class="myRightCtn">
						<div class="box"><header>Hello World</header>
							
						<p>Lorem ipsum dolor sit amet, consectetue adipiscing elit,
							sed do eiusom tempor incididunt ut labore et dolore amgna
							aliqua. Ut enim ad minim veniam.</p>
							<input type="button" class="butt_out" value="Learn More"/>
						</div>
						
					</div>
				</div>
			</div>
		</div>		
	</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>