<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>A bot deleted, a bot !</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <i class="material-icons">android</i>
  &nbsp;<%=name%> was deleted (... normaly)&nbsp;
  <i class="material-icons">android</i>
  <br>
    Situation : <%=message%>
    <br>

  <form action="/" method="get">
    <input type="submit" name="" value="back">
  </form>

</body>
</html>
